html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: sans-serif;
}

body {
  padding: 10px;
}

h1 {
  padding-bottom: 10px;
  font-size: 24px;
}

a {
  color: inherit;
}

table.pricing {
  border: thin solid black;
  border-collapse: collapse;
  margin-bottom: 10px;
}


table.pricing tr td, 
table.pricing tr th {
  border: thin solid black;
  padding: 5px;
}
table.pricing tr.section {
  background: #5CB1E8;
  color: white;
}
table.pricing tr.total, table.pricing tr.total a {
  background: #5CB1E8;
  color: white;
  font-size:larger;
  font-weight: bold;
}
table.pricing tr th.title {
  width: 500px;
}
table.pricing tr th.profile {
  width: 60px;
}
table.pricing tr td.profile,
table.pricing tr td.total,
table.pricing tr th.rate {
  text-align: right;
}
table.pricing tr th.total {
  width: 130px;
}

ul.actions {
  float:right;
}
ul.actions li{
  display:inline;
  float: left;
}
a.add {
  background: url("../images/add.png") no-repeat;
  padding-left: 18px;
}
a.insert {
  background: url("../images/table_row_insert.png") no-repeat;
  padding-left: 18px;
}
a.edit {
  background: url("../images/pencil.png") no-repeat;
  padding-left: 18px;
}
a.delete {
  background: url("../images/delete.png") no-repeat;
  padding-left: 18px;
}
a.up {
  background: url("../images/arrow_up.png") no-repeat;
  padding-left: 18px;
}
a.down {
  background: url("../images/arrow_down.png") no-repeat;
  padding-left: 18px;
}
a.left {
  background: url("../images/arrow_left.png") no-repeat;
  padding-left: 18px;
}
a.right {
  background: url("../images/arrow_right.png") no-repeat;
  padding-left: 18px;
}

/**
 * Edit in-place
**/
form.editable input {
  font-size:inherit;
  font-family: inherit;
}
form.editable {
  display: inline;
}
