#{if !request.isAjax()}
  #{extends 'main.html' /}
#{/if}
#{set title:pricing.title /}

<h2><span id="pricing-code-${pricing.id}" class="pricing-code">${pricing.code}</span> - <span id="pricing-title-${pricing.id}" class="pricing-title">${pricing.title}</span></h2>

#{if pricingTag}
  <p class="tag-info">
    ${pricingTag.title} - &{'pricing.pricingTag.createdAt'} ${pricingTag.createdAt.format('dd/MM/yyyy hh:mm:ss')} &{'pricing.pricingTag.updatedBy'} ${pricingTag.updatedBy}
    - <a href="@{Pricings.show(pricing.id)}">&{'pricing.pricingTag.show.current'}</a>
  </p>
#{/if}

#{if flash.success}
	<p class="success">${flash.success}</p>
#{/if}

#{set profileCount:pricing.profiles.size() /}
<table class="pricing" id="pricing">
  <tr>
  	<th class="title" rowspan="2">&{'pricing.col.title'}</th>
  	#{list items:pricing.profiles, as:'profile'}
  		<th class="profile">
        <span id="profile-title-${profile.id}" class="profile-title">${profile.title}</span>
      </th>
  	#{/list}
  	<th class="total" rowspan="2">&{'pricing.col.total'}</th>
  </tr>
  <tr>
  	#{list items:pricing.profiles, as:'profile'}
  		<th class="rate"><input id="profile-rate-${profile.id}" class="profile-rate" value="${profile.rate.format('###.##')}" /></th>
  	#{/list}
  </tr>
  #{if pricing.sections && pricing.sections.size() >= 1}
    #{list items:pricing.sections, as:'section'}
    
      #{pricingSectionEdit section:section, pricing:pricing /}
          	
      #{list items:section.lines, as:'line'}
        #{pricingLineEdit line:line, pricing:pricing, editable:editable /}
  	  #{/list}
    #{/list}
  #{/if}
  <tr class="total">
    <td>Total</td>
    #{list items:pricing.profiles, as:'profile'}
      <td class="profile"><span id="profile-total-${profile.id}">${pricing.getAmountByProfile(profile).format('#.##')}</span></td>
    #{/list}
    <td class="total"><span id="pricing-total">${pricing.getPrice().format('# ###.##')}</span> &euro;</td>
  </tr>
</table>
<script type="text/javascript">
var refreshFromJSON = function() {
	var pricingRefresh = function(pricing) {
	  // Updating pricing
	  $("#pricing-code").html(pricing.code);
	  $("#pricing-title").html(pricing.title);
	  $("#pricing-total").html(pricing.price);
	  // Updating profiles
	  pricing.profiles.forEach(function(profile) {
		  $("#profile-title-" + profile.id).html(profile.title);
		  $("#profile-rate-" + profile.id).html(profile.rate);
      $("#profile-total-" + profile.id).html(profile.amount);
	  });
    // Updating sections
	  pricing.sections.forEach(function(section) {
		  $("#section-" + section.id).html(section.title);
		  $("#section-total-" + section.id).html(section.price);
	    // Updating section details
      section.details.forEach(function(detail) {
			  $("#section-detail-" + section.id + "-" + detail.profileId).html(detail.amount);
		  });
	    // Updating lines
		  section.lines.forEach(function(line) {
			  $("#line-" + line.id).html(line.title);
			  $("#line-total-" + line.id).html(line.price);
			  // Updating line details
			  line.details.forEach(function(detail) {
				  $("#detail-" + line.id + "-" + detail.profileId).html(detail.amount);
			  });
		  });
	  });
  }
	$.getJSON(
		"@{Pricings.getPricingJSON(pricing.id)}", 
		function(data){
			pricingRefresh(data);
		}
	);
};
var bindEditables = function() {
	$("table#pricing input").blur(function(){
		console.log($(this).val());
	});
};
bindEditables();
</script>