#{if !request.isAjax()}
  #{extends 'main.html' /}
#{/if}
#{set title:pricing.title /}

<h1><span id="pricing-code-${pricing.id}" class="pricing-code">${pricing.code}</span> - <span id="pricing-title-${pricing.id}" class="pricing-title">${pricing.title}</span></h1>

#{if flash.success}
	<p class="success">${flash.success}</p>
#{/if}

#{set profileCount:pricing.profiles.size() /}
<table class="pricing" id="pricing">
  <tr>
  	<th class="title" rowspan="2">&{'pricing.col.title'}</th>
  	#{list items:pricing.profiles, as:'profile'}
  		<th class="profile">
        <span id="profile-title-${profile.id}" class="profile-title">${profile.title}</span>
        #{if editable}
          <ul class="actions">
            <li><a href="@{Pricings.deleteProfile(profile.id)}" class="delete"></a></li>
            <li><a href="@{Pricings.profileUp(profile.id)}" class="left"></a></li>
            <li><a href="@{Pricings.profileDown(profile.id)}" class="right"></a></li>
          </ul>
        #{/if}
      </th>
  	#{/list}
  	<th class="total" rowspan="2">&{'pricing.col.total'}</th>
  </tr>
  <tr>
  	#{list items:pricing.profiles, as:'profile'}
  		<th class="rate"><span id="profile-rate-${profile.id}" class="profile-rate">${profile.rate.format('###.##')}</span> &euro;</th>
  	#{/list}
  </tr>
  #{if pricing.sections && pricing.sections.size() >= 1}
    #{list items:pricing.sections, as:'section'}
    
      #{pricingSection section:section, pricing:pricing, editable:editable /}
          	
      #{list items:section.lines, as:'line'}
        #{pricingLine line:line, pricing:pricing, editable:editable /}
  	  #{/list}
    #{/list}
  #{/if}
  <tr class="total">
    <td>Total</td>
    #{list items:pricing.profiles, as:'profile'}
      <td class="profile">${pricing.getAmountByProfile(profile).format('#.##')}</td>
    #{/list}
    <td class="total">${pricing.getPrice().format('# ###.##')} &euro;</td>
  </tr>
</table>

#{if editable}
  <a href="@{Pricings.addSection(pricing.id)}" class="add" id="pricing-section-add">&{'pricing.section.add'}</a>
  <a href="@{Pricings.addProfile(pricing.id)}" class="add">&{'pricing.profile.add'}</a>
  <a href="javascript:void(0)" class="edit" id="toggle-edition">&{'pricing.edit.controls.toggle'}</a>
#{/if}

<div id="pricing-history">
  #{pricingHistory pricing:pricing, revisions:revisions, revision:revision /}
</div>

#{if editable}
  <script type="text/javascript">
    var refreshPricing = function() {
      $("body").load('@{Pricings.show(pricing.id)}');
    }
    var refreshHistory = function() {
      $("#pricing-history").load('@{Pricings.showHistory(pricing.id)}');
  	}

    var bindEditables = function() {
      $(".detail-amount").editable('@{Pricings.editDetail()}', {
        callback: refreshPricing
      });
      $(".profile-title").editable('@{Pricings.editProfileTitle()}', {
    	    cssclass: 'editable'
      });
      $(".profile-rate").editable('@{Pricings.editProfileRate()}', {
    	  callback: refreshPricing,
        cssclass: 'editable'
      });
    
      var editableOptions = {
        cancel: 'Cancel',
        submit: 'Ok',
        cssclass: 'editable',
        width: 250
      };
      $(".section-title").editable('@{Pricings.editSectionTitle()}', editableOptions);
      $(".line-title").editable('@{Pricings.editLineTitle()}', editableOptions);
      $(".pricing-code").editable('@{Pricings.editPricingCode()}', editableOptions);
      $(".pricing-title").editable('@{Pricings.editPricingTitle()}', editableOptions);
    };
    bindEditables();
  </script>
#{/if}
