#{if !request.isAjax()}
  #{extends 'main.html' /}
#{/if}
#{set title:pricing.title /}

<h1><span id="pricing-code-${pricing.id}" class="pricing-code">${pricing.code}</span> - <span id="pricing-title-${pricing.id}" class="pricing-title">${pricing.title}</span></h1>

#{if flash.success}
	<p class="success">${flash.success}</p>
#{/if}

#{set profileCount:pricing.profiles.size() /}
<table class="pricing" id="pricing">
  <tr>
  	<th class="title" rowspan="2">Title</th>
  	#{list items:pricing.profiles, as:'profile'}
  		<th class="profile">
        <span id="profile-title-${profile.id}" class="profile-title">${profile.title}</span>
        #{if editable}
          <ul class="actions">
            <li><a href="@{Pricings.deleteProfile(profile.id)}" class="delete"></a></li>
            <li><a href="@{Pricings.profileUp(profile.id)}" class="left"></a></li>
            <li><a href="@{Pricings.profileDown(profile.id)}" class="right"></a></li>
          </ul>
        #{/if}
      </th>
  	#{/list}
  	<th class="total" rowspan="2">Total</th>
  </tr>
  <tr>
  	#{list items:pricing.profiles, as:'profile'}
  		<th class="rate"><span id="profile-rate-${profile.id}" class="profile-rate">${profile.rate.format('###.##')}</span> &euro;</th>
  	#{/list}
  </tr>
  #{if pricing.sections && pricing.sections.size() >= 1}
    #{list items:pricing.sections, as:'section'}
    	<tr class="section">
    	  <td>
            <span id="section-${section.id}" class="section-title">${section.title}</span>
            #{if editable}
              <ul class="actions">
                <li><a href="@{Pricings.addLine(section.id)}" class="insert" title="Insert a line"></a></li>
                <li><a href="@{Pricings.deleteSection(section.id)}" class="delete" title="Delete this section"></a></li>
                <li><a href="@{Pricings.sectionUp(section.id)}" class="up" title="Up"></a></li>
                <li><a href="@{Pricings.sectionDown(section.id)}" class="down" title="Down"></a></li>
              </ul>
            #{/if}
          </td>
        #{list items:pricing.profiles, as:'profile'}
  		<td class="profile">${section.getAmountByProfile(profile).format('#.##')}</td>
        #{/list}
  	  <td class="total">${section.getPrice().format('# ###.##')} &euro;</td>
    	</tr>
    	#{list items:section.lines, as:'line'}
    	  <tr class="line">
    	  	<td>
              <span id="line-${line.id}" class="line-title">${line.title}</span>
              #{if editable}
                <ul class="actions">
                  <li><a href="@{Pricings.deleteLine(line.id)}" class="delete" title="Delete"></a></li>
                  <li><a href="@{Pricings.lineUp(line.id)}" class="up" title="Up"></a></li>
                  <li><a href="@{Pricings.lineDown(line.id)}" class="down" title="Down"></a></li>
                </ul>
              #{/if}
          </td>
  		#{list items:pricing.profiles, as:'profile'}
  		  #{set detail:line.getDetailByProfile(profile) /}
  		  <td class="profile">
    		  #{if detail}
    			#{set amount: detail.amount.format('#.##') /}
    	      #{/if}
    	      #{else}
    	      	#{set amount: "0" /}
    	      #{/else}
            <span id="detail-${line.id}-${profile.id}" class="detail-amount">${amount}</span>
  	      </td>
  		#{/list}
  		<td class="total">${line.getPrice().format('# ###.##')} &euro;</td>
    	  </tr>
    	#{/list}
    #{/list}
  #{/if}
  <tr class="total">
    <td>Total</td>
    #{list items:pricing.profiles, as:'profile'}
      <td class="profile">${pricing.getAmountByProfile(profile).format('#.##')}</td>
    #{/list}
    <td class="total">${pricing.getPrice().format('# ###.##')} &euro;</td>
  </tr>
</table>

#{if editable}
  <a href="@{Pricings.addSection(pricing.id)}" class="add">Add a section</a>
  <a href="@{Pricings.addProfile(pricing.id)}" class="add">Add a profile</a>
  <a href="javascript:void(0)" class="edit" id="toggle-edition">Toggle edition controls</a>
#{/if}

<h3>Versions</h3>
*{ If we are displaying a previous revision, we add a link to return to the last version }*
#{if revision}
  <a href="@{Pricings.show(pricing.id)}">Show current version</a>
#{/if}
<ul>

*{ We do not display the "revision" value but successive numbers for one pricing }*
#{set nbRevisions: revisions.keySet().size() /}
#{list items:revisions.keySet(), as:'version'}
  <li><a href="@{Pricings.showRevision(pricing.id, version)}">Show version ${nbRevisions--} - ${revisions.get(version)}</a></li>
#{/list}
</ul>

#{if editable}
  <script type="text/javascript">
    var refreshPricing = function() {
      $("body").load('@{Pricings.show(pricing.id)}');
    }
    $(".detail-amount").editable('@{Pricings.editDetail()}', {
      callback: refreshPricing
    });
    $(".profile-title").editable('@{Pricings.editProfileTitle()}', {
  	    cssclass: 'editable'
    });
    $(".profile-rate").editable('@{Pricings.editProfileRate()}', {
  	  callback: refreshPricing,
      cssclass: 'editable'
    });
  
    var editableOptions = {
      cancel: 'Cancel',
      submit: 'Ok',
      cssclass: 'editable',
      width: 250
    };
    $(".section-title").editable('@{Pricings.editSectionTitle()}', editableOptions);
    $(".line-title").editable('@{Pricings.editLineTitle()}', editableOptions);
    $(".pricing-code").editable('@{Pricings.editPricingCode()}', editableOptions);
    $(".pricing-title").editable('@{Pricings.editPricingTitle()}', editableOptions);
  </script>
#{/if}
