<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.4.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.7.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.jeditable.mini.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/pricing.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
      &{'user.welcome', controllers.Security.connected()}
      <a href="@{Application.index}">&{'home'}</a>
      <a href="@{Secure.logout}">&{'user.logout'}</a>
        #{doLayout /}
    </body>
</html>
